// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #15aa7c;
$primary-transparent   : #73cec3;
$secondary : #6e8cfa;
$secondary-hover : #6e8cfa55;
$secondary-transparent : #a7b9f9;
$accent    : #9C27B0;
$dark      : #1D1D1D;
$dark-page : #121212;
$positive  : #15aa7c;
$negative  : #CC0101;
$info      : #31CCEC;
$warning   : #F2C037;
$back-dis  : #667998;
$white: #f6f6fe;
$prepara-me: #15aa7c;
$prepara-me-gradient: linear-gradient(90deg, #15aa7c 0%, #1a27b7 100%);
$background-grey: #ddd;
$teste: #6e8cfa;
$text-white: #fff;
$text-grey: #888;
$text-dark-grey: #444;
$text: #111;
$text-transparent: #5e5e5e;

$font-cabin: 'Cabin', sans-serif;